.card{
    width: 350px;
    height: 500px;
    border: none;
    background-color: transparent;
}

.image_holder{
    width: 300px;
    height: 300px;
    border-radius: 15%;
}

.product_image{
    width: 330px;
    -webkit-transform: rotate(-20deg);
    -moz-transform: rotate(-20deg);
    -o-transform: rotate(-20deg);
    -ms-transform: rotate(-20deg);
    transform: rotate(-20deg);
}

.add_btn{
    padding: 20px 20px;
    background-color: white;
    border-radius: 15px;
}