/*Product list styling*/
.card_holder{
    display: block;
    width: 400px;
    height: 600px;
    float: left;
    padding-right: 50px;
}

.card{
    height: 100%;
    padding-top: 30px;
    border: none;
    background-color: transparent;
}

.image_holder{
    width: 300px;
    height: 350px;
}

.product_image{
    width: 330px;
    top: -10px;
    position: relative;
    -webkit-transform: rotate(-20deg);
    -moz-transform: rotate(-20deg);
    -o-transform: rotate(-20deg);
    -ms-transform: rotate(-20deg);
    transform: rotate(-20deg);
}

.add_btn{
    width: fit-content;
    padding: 15px 20px;
    background-color: white;
}

.image_holder, .add_btn{
    border-radius: 25%;
}

.text_violet{
    color: var(--violetDark);
}

.product_info{
    padding-top: 50px;
}

/*Product Details styling*/

.product-details_card{
    border-radius: 10%;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background-color: var(--violetBlueLight);
    color: white;
    height: 100%;
    width: 100%;
    display: block;
    align-items: flex-end;
}

.details_image{
    width: calc(100% + 50px);
    left: -90px;
    top: -20px;
    position: relative;
    -webkit-transform: rotate(-30deg);
    -moz-transform: rotate(-30deg);
    -o-transform: rotate(-30deg);
    -ms-transform: rotate(-30deg);
    transform: rotate(-30deg);
}

.radios_container{
    padding-top: 20px;
}

.radios_container label{
    padding: 10px 10px;
    border-radius: 30%;
    margin: 5px 10px;
    color: white;
}

.radios_container input[type="radio"]:checked + label {
    background-color: #e6e7fd;
}

.radios_container input[type="radio"]:checked + label  .checked_mark{
    color: var(--violetBlueDark);
    display: block;
}


.checked_mark{
    display: none;
    font-weight: bold;
    height: 2px;
    padding:0;
    text-align: start;
}

.color_btn{
    background-color: var(--bg);
}

.size_btn{
    background-color: transparent;
    border: none;
    width: 40px;
    height: 40px;
}

.details_btn_container{
    justify-content: flex-end;
    display: flex;
    float: right;
    bottom: 0;
    position: relative;
    width: fit-content;
}

.details_add_btn{
    background-color: var(--violetBlueDark);
    color: white;
    width: 120px;
    height: 120px;
    border-radius: 15%;
    bottom: 0;
    left: 0;    
}

.details_price{
    float: right;
    padding: 0 50px;
}

.details_info{
    padding: 10% 20px 0;
    width: 100%;;
    bottom: 0;
    text-align: left;
    align-items: flex-end;
}

.details_info p{
    font-weight: 300;
}








