@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
  --violetBlueDark : #3f4bd0;
  --violetBlueLight: #797CEF;
  --violetDark: #5a1958;
  --violetLight: #A878DC;
  --grey: #888597;
  --bg: #f4effd
}

*{
  padding: 0;
  margin: 0;
}

body{
  font-family: 'Jost', sans-serif;
  font-weight: 400;
  font-size: x-large;
  background-color: var(--bg);
  color: var(--grey);
}

.main_container, .secondary_container, .secondary_container .container-fluid{
  height: 100%;
}

.secondary_container{
  align-items: flex-end;
}


.row{
  margin:0;
}

a{
  text-decoration: none;
}

.text_gray{
  color: var(--grey);
}

.text_violet{
  color: var(--violetDark);
}

.details_container{
  height: 100%;
  align-items: flex-end;
  bottom: 0;
  margin-bottom: 0;
  padding-top: 180px;
}

.product_list{
  display: inline-flexbox;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  height: 85%;
  padding: 10px 20px;
  overflow-x: hidden;
  scrollbar-width: 0;
  -ms-overflow-style:none;
  scroll-behavior: smooth;
  align-items: flex-end;
}

.product_list ::-webkit-scrollbar{
  display: none;
}

